<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Search recipes</h1>
<form action="#" th:action="@{/searchRecipe}" th:object="${SearchParams}" method="post">
    <label for="field">Choose an field:</label>
    <select id="field" name="field" th:field="*{field}">
        <option value="averageScore">rating</option>
        <option value="estimatedTime">time needed</option>
        <option value="uploaderUUID">uploader ID</option>
    </select>
    <label for="operator">Choose an operator:</label>
    <select id="operator" name="operator" th:field="*{operator}">
        <option value="<"><</option>
        <option value="=">=</option>
        <option value=">">></option>
    </select>
    <p>Comparison value: <input type="number" min="0" th:field="*{value}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>